<!DOCTYPE html>
<html>

<head>
    <title>Chasse aux oeufs</title>
    <link rel="icon" href="/assets/favicon.png" />
    <style>
        body {
            font-family: 'Trebuchet MS', sans-serif;
            background-image: url("/assets/bg.jpg");
            color: white;
            text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        }

        h1 {
            font-size: 100px;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <h1>Chasse aux oeufs</h1>
    <p>T'as déjà eu le point pour cet oeuf </p>
    <% if(nextUrl==false) { %>
        <p> C'était le dernier oeuf, tu as fini la chasse aux oeufs, bravo !</p>
        <% } else { %>
          <p> Clique sur le lapin pour trouver le prochain oeuf <a href="<%= nextUrl %>" target="_blank">🐰</a> </p>
          <p> La question pour trouver l'oeuf est la suivante : <%= nextQuestion %>
          </p>
          <% } %>
</body>

</html>