<!DOCTYPE html>
<html>
  <head>
    <title>Chasse aux oeufs</title>
    <link rel="icon" href="/assets/favicon.png"/>
    <style>
      body {
        font-family: 'Trebuchet MS', sans-serif;
        background-image: url("/assets/bg.jpg");
        color: white;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
      }
      h1 {
        font-size: 100px;
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Chasse aux oeufs</h1>
    <p> Mauvaise réponse désolé :'(</p>
  </body>
</html>
